apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api
  labels:
    app: iris-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iris-api
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
        - name: iris-api
          image: us-central1-docker.pkg.dev/mlops-474118/iris-api-repo/iris-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          # ✅ Resource limits (lightweight to avoid "Insufficient CPU")
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi

          # ✅ Health probes (adjust if your endpoint differs)
          readinessProbe:
            httpGet:
              path: /predict
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 5

          livenessProbe:
            httpGet:
              path: /predict
              port: 5000
            initialDelaySeconds: 30
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 3

          env:
            - name: PORT
              value: "5000"
