name: CI/CD Pipeline for IRIS API

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: iris-api
  GAR_LOCATION: ${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/iris-api-repo/iris-api

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Configure Docker to use Artifact Registry
        run: gcloud auth configure-docker ${{ secrets.GCP_REGION }}-docker.pkg.dev --quiet

      - name: Build Docker Image
        run: |
          docker build -t $GAR_LOCATION:${{ github.sha }} .

      - name: Push Docker Image to Artifact Registry
        run: |
          docker push $GAR_LOCATION:${{ github.sha }}

      - name: Get GKE Credentials
        run: |
          gcloud container clusters get-credentials ${{ secrets.GKE_CLUSTER }} --zone ${{ secrets.GKE_ZONE }}

      - name: Deploy to GKE
        run: |
          kubectl set image deployment/iris-api iris-api=$GAR_LOCATION:${{ github.sha }}
